* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}
body {
  background-color: black;
  color: white;
  /* height: 3000px; */
}

header {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: black;
}
.title {
  font-size: 1.5rem;
  font-weight: 800;
  color: white;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  column-gap: 5rem;
}
.navbar li {
  position: relative;
}
.navbar a {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  font-weight: 500;
}
.btn {
  color: white;
  background-color: rgb(235, 75, 75);
  padding: 0.7rem 1.4rem;
  border-radius: 1.5rem;
  border: none;
  font-weight: 500;
}
.navbar a:hover {
  color: blue;
}
.btn:hover {
  background-color: rgb(237, 5, 5);
}
.container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 90vh;
  min-height: 600px;
  font-weight: 600;
  overflow: hidden;
}
.container .coverPhoto {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: center;
  opacity: 0.7;
}
.home {
  position: relative;
}
.home_text {
  padding-left: 100px;
  margin-top: 500px;
}
.home_text span {
  color: white;
  font-weight: 300;
}
.home_text h1 {
  font-size: 4rem;
  font-weight: 700;
}
.book-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
  padding: 0px 50px 50px 50px;
}
.heading h2 {
  /* background-color: red; */
  margin: 5px;
  padding-left: 30px;
  font-size: 2rem;
  font-weight: 800;
}
.photo-box {
  background: #1a1a1a;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}
.photo-box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.photo-box h1 {
  font-size: 1.2rem;
  margin: 15px 0;
}
.photo-box button {
  background-color: rgb(235, 75, 75);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.photo-box button:hover {
  background-color: rgb(237, 5, 5);
}
